@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-secondary: #a855f7;
  --color-dark: #0f172a;
  --color-dark-light: #1e293b;
  --font-sans: Inter, sans-serif;
}

body {
  @apply bg-dark text-white font-sans;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}